---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";




$baseFontFamily:'Josefin Sans', sans-serif;
$headerBtnColor: #FFFFFF;
$navBtnFontSize: 20px;
$siteTitleSize: 120px;
$navBtnLeftMargin: 30px;
$navPadding: 15px;
$headerNavBackgroundColor: #616161;
$site-header-height: 200px;



$siteBackgroundColor: #393939;


$spacing-unit:     30px;


// Width of the content area

$wrapperWidth:     1000px;
$on-palm:          700px;
$on-laptop:        800px;


@mixin media-query($device) {
    @media only screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "headerCSS",
        "footerCSS"
;
