/////////////////////////
/////reset everything

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i , center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
} 
//////////////////////////////////////////



body{
	font-family: $baseFontFamily;
	background-color: $siteBackgroundColor;
}

a{
	text-decoration: none;
}


.wrapper{

	max-width: -webkit-calc(#{$wrapperWidth} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$wrapperWidth} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;

	@include media-query($on-palm) {
		margin-right: auto;
    	margin-left: auto;
    	padding-right: 10px;
    	padding-left: 10px;
	}

	
}





