

.siteFooter{
	margin-top: 50px;
	border-top: 1.5px solid #303030;

}

.footer{
	padding-top: 20px;
	padding-bottom: 40px;	
	
	@include media-query($on-palm){
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.footer-col1{
	float:left;
	width: -webkit-calc(35% - (#{$spacing-unit} / 2));
	width: calc(35% - (#{$spacing-unit} / 2));
	
	@include media-query($on-palm){
		width: -webkit-calc(65% - (#{$spacing-unit} / 2));
		width: calc(65% - (#{$spacing-unit} / 2));
	}
}

.footer-col2{
	float:left;
	width: -webkit-calc(65% - (#{$spacing-unit} / 2));
	width: calc(65% - (#{$spacing-unit} / 2));
	
	a{
		padding-left: 10px;
	}
	
	@include media-query($on-palm){
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width: calc(100% - (#{$spacing-unit} / 2));
		a{
			display: block;
		}
	}
}

.footerNav{
	float: right;
	@include media-query($on-palm){
		float: none;
	}
}


