

.siteHeader{
	border-top: 7px solid #111111;
	height:$site-header-height;
}

.header1{
	float:left;
}

.headerTitle{
	width: -webkit-calc(25% - (#{$spacing-unit} / 2));
	width: calc(25% - (#{$spacing-unit} / 2));
	height: 200px;
	.siteTitle{
		font-size: $siteTitleSize;
		color: #EFEFEF;
		font-family: 'Jura', sans-serif;
	}
	
	img{
		float: right;

	}
}

.headerNav{

	a:link{color: $headerBtnColor}
	a:visited{color:$headerBtnColor}
	a:hover{color:$headerBtnColor}
	a:active{color:$headerBtnColor}
	
	width: -webkit-calc(75% - (#{$spacing-unit} / 2));
	width: 		   calc(75% - (#{$spacing-unit} / 2));
	background-color: $headerNavBackgroundColor;
	border-radius: 5px 20px;
	
	.headerNavBlock{
		float:right;
		a{
			float:left;
			font-size: $navBtnFontSize;
			padding:$navPadding;
			&:last-child{margin-right: 30px};
		}
		a.activeBtn{
			background-color: #A0A0A0;
		}
	}

}

.menu-icon{
	display: none;
}


@include media-query($on-palm) {

	.headerTitle{
		//width: -webkit-calc(60% - (#{$spacing-unit} / 2));
		//width: 		   calc(60% - (#{$spacing-unit} / 2));
		width: 190px;
		height: 145px;
		
		img.title-img{
			margin-top: 13px;
		}
	}

	.headerNav{
	
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width: 		   calc(100% - (#{$spacing-unit} / 2));
		opacity: 0.75;
		filter:alpha(opacity=75);

		.headerNavBlock{
			display: none;
			position:relative;
			clear:both;
			& a{
				text-align:right;
				float:none;
				display: block;			
				font-size: $navBtnFontSize * 0.65;
				padding:$navPadding * 0.3;
				margin-right: 30px;
				&:last-child{margin-bottom: 7px};
				
				
			};
		}
		
		.menu-icon{
			display: block;
			float: right;
			padding: 10px 30px 10px 30px;
			width: 36px;
            height: 15px;
            line-height: 0;
            text-align: center;
            
            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: #E6E6E6;
                }
            }
            
		}
		
	}

}





