

.siteHeader{
	border-top: 7px solid #111111;
}

.header1{
	float:left;
}

.headerTitle{
	width: -webkit-calc(25% - (#{$spacing-unit} / 2));
	width: calc(25% - (#{$spacing-unit} / 2));
	
	.siteTitle{
		font-size: $siteTitleSize;
		color: #EFEFEF;
		font-family: "Comic Sans MS", cursive, sans-serif;
	}
}

.headerNav{

	a:link{color: $headerBtnColor}
	a:visited{color:$headerBtnColor}
	a:hover{color:$headerBtnColor}
	a:active{color:$headerBtnColor}
	
	width: -webkit-calc(75% - (#{$spacing-unit} / 2));
	width: 		   calc(75% - (#{$spacing-unit} / 2));
	background-color: $headerNavBackgroundColor;
	border-radius: 5px 20px;
	
	.headerNavBlock{
		float:right;
		a{
			float:left;
			font-size: $navBtnFontSize;
			padding:$navPadding;
			&:last-child{margin-right: 30px};
		}
		a.activeBtn{
			background-color: #CACACA;
		}
	}

}


@include media-query($on-palm) {
    .header1{
		float:auto;
	}
	
	.headerTitle{
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width: 		   calc(100% - (#{$spacing-unit} / 2));
	}

	.headerNav{
	
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width: 		   calc(100% - (#{$spacing-unit} / 2));
		
		.headerNavBlock{
			float:none;
			a{
				font-size: $navBtnFontSize * 0.65;
				padding:$navPadding * 0.3;
				&:first-child{margin-left: 20px}
			}
		}

	}

}





